@import "../../styles/settings.scss";

:root{
    // All lign
    --lignOne-width: 804px;
    --lignTwo-width: 480px;
    --lignThree-width: 771px;
    --lignFour-width: 382px;
    --lignFive-width: 673px;
    --lignSix-width: 738px;
    --lignSeven-width: 665px;
    --lignEight-width: 723px;
    --lignNine-width: 753px;
    --lignTen-width: 658px;
    --lignEleven-width: 98px;

    // lignContainer
    --lignContainer-width: 100%;
}

.skillTextContainer{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1s ease-in-out;
    .lignContainer{
        width: var(--lignContainer-width);
        font-size: $p;
        font-weight: $fWP;
        text-align: center;
        display: flex;
        flex-direction: column;
        .show{
            animation: colorChange;
            animation-duration: 2s;
            animation-timing-function:ease-in;
        }
        .lignOne{
            transition: margin-left 0.4s ease-in-out ;
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignOne-width)) / 2);
        }
        .lignTwo{
            transition: margin-left 0.4s ease-in-out 0.1s;
            width: var(--lignTwo-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignTwo-width)) / 2);
        }
        .lignThree{
            transition: margin-left 0.4s ease-in-out 0.2s;
            width: var(--lignThree-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignThree-width)) / 2);
        }
        .lignFour{
            transition: margin-left 0.4s ease-in-out 0.3s;
            width: var(--lignFour-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignFour-width)) / 2);
        }
        .lignFive{
            transition: margin-left 0.4s ease-in-out 0.4s;
            width: var(--lignFive-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignFive-width)) / 2);
        }
        .lignSix{
            transition: margin-left 0.4s ease-in-out 0.5s;
            width: var(--lignSix-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignSix-width)) / 2);
        }
        .lignSeven{
            transition: margin-left 0.4s ease-in-out 0.6s;
            width: var(--lignSeven-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignSeven-width)) / 2);
        }
        .lignEight{
            transition: margin-left 0.4s ease-in-out 0.7s;
            width: var(--lignEight-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignEight-width)) / 2);
        }
        .lignNine{
            transition: margin-left 0.4s ease-in-out 0.8s;
            width: var(--lignNine-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignNine-width)) / 2);
        }
        .lignTen{
            transition: margin-left 0.4s ease-in-out 0.9s;
            width: var(--lignTen-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignTen-width)) / 2);
        }
        .lignEleven{
            transition: margin-left 0.8s ease-in-out 1s;
            width: var(--lignEleven-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignEleven-width)) / 2);
        }
    }
}
.skillTextContainer:hover{
    width: 90%;
    .lign{
        margin-left: 0;
    }
}

@keyframes colorChange {
    0%{
        color: $darkPrimary;
    }

    50%{
        color: $secondaryYellow;
    }

    100%{
        color: $darkPrimary;  
    }
}