@import "../../styles/settings.scss";

:root{
    // All lign
    --lignOne-width: 650px;
    --lignTwo-width: 681px;
    --lignThree-width: 668px;
    --lignFour-width: 684px;
    --lignFive-width: 697px;
    --lignSix-width: 666px;
    --lignSeven-width: 732px;
    --lignEight-width: 726px;
    --lignNine-width: 683px;
    --lignTen-width: 658px;

    // lignContainer
    --lignContainer-width: 100%;
}

.skillTextContainer{
    z-index: 10;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1s ease-in-out;
    .lignContainer{
        cursor: pointer;
        height: 80%;
        width: var(--lignContainer-width);
        font-size: $p;
        font-weight: $fWP;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .show{
            animation: colorChange;
            animation-duration: 2s;
            animation-timing-function:ease-in;
        }
        .lignOne{
            transition: margin-left 0.4s ease-in-out ;
            width: var(--lignOne-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignOne-width)) / 2);
        }
        .lignTwo{
            transition: margin-left 0.4s ease-in-out 0.1s;
            width: var(--lignTwo-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignTwo-width)) / 2);
        }
        .lignThree{
            transition: margin-left 0.4s ease-in-out 0.2s;
            width: var(--lignThree-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignThree-width)) / 2);
        }
        .lignFour{
            transition: margin-left 0.4s ease-in-out 0.3s;
            width: var(--lignFour-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignFour-width)) / 2);
        }
        .lignFive{
            transition: margin-left 0.4s ease-in-out 0.4s;
            width: var(--lignFive-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignFive-width)) / 2);
        }
        .lignSix{
            transition: margin-left 0.4s ease-in-out 0.5s;
            width: var(--lignSix-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignSix-width)) / 2);
        }
        .lignSeven{
            transition: margin-left 0.4s ease-in-out 0.6s;
            width: var(--lignSeven-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignSeven-width)) / 2);
        }
        .lignEight{
            transition: margin-left 0.4s ease-in-out 0.7s;
            width: var(--lignEight-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignEight-width)) / 2);
        }
        .lignNine{
            transition: margin-left 0.4s ease-in-out 0.8s;
            width: var(--lignNine-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignNine-width)) / 2);
        }
        .lignTen{
            transition: margin-left 0.4s ease-in-out 0.9s;
            width: var(--lignTen-width);
            margin-right: auto;
            margin-left: calc((var(--lignContainer-width) - var(--lignTen-width)) / 2);
        }
    }
    .imgContainer{
        background-image: url("../../assets/me/pexels-italo-melo-2379005.jpg");
        opacity: 0;
        width: 0;
        height: 0;
        background-position: 25% 40%;
        filter: grayscale(100%);
        transition: width ease-in-out 0.9s, height 0.4s ease-in-out 0.9s;
        background-size: cover;
    } 
}
.skillTextContainer:hover{
    .lign{
        margin-left: 0;
    }
    .imgContainer{
        opacity: 1;
        display: flex;
        height: 80%;
        width: 80%;
    }
}

@keyframes colorChange {
    0%{
        color: $darkPrimary;
    }

    50%{
        color: $secondaryYellow;
    }

    100%{
        color: $darkPrimary;  
    }
}