@import "../../styles/settings.scss";

:root {
    --blockContainerWidth: 700px;
    --testPageContainerWidth: 100vw;
    --heightBlock: 22%;
    --heightBlockMax: 25%;
}

.globalContainer{
    display: flex;
    position: absolute;
    top: 0%;
    left: 0;
    .containerLeft{
        min-height: 100vh;
        // min-width: calc(100vw - 400px);
        width: 100vw;
        z-index: 10;
        .back{
            cursor: pointer;
            text-align: end;
            margin-right: 5rem;
            margin-top: 3rem;
        }
    }
    .testPageContainer{
        position: absolute;
        top: 0;
        height: 0;
        height: 100vh;
        width: var(--testPageContainerWidth);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .blockContainer{
            height: 50%;
            width: var(--blockContainerWidth);
            margin-left: calc((var(--testPageContainerWidth) - (var(--blockContainerWidth)))/2);
            margin-right:  calc((var(--testPageContainerWidth) - (var(--blockContainerWidth)))/2);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transition: all;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
            .block{
                cursor: pointer;
                width: 700px;
                height: var(--heightBlock);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                transition: height;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
                overflow: hidden;
                img{
                    width: 700px;
                    object-fit: cover;
                    height: 100%;
                    filter: grayscale(1);
                    transition: filter;
                    transition-duration: 0.3s;
                    transform: translatey(200);
                }
            }
            .block:hover{
                height: 25%;
                img{
                    filter: grayscale(0);
                }
            }
            .colorOne{
                // background-color: aqua;
            }
            .colorTwo{
                // background-color: red;
            }
            .colorThree{
                // background-color: white;
            }
            .colorFour{
                // background-color: yellow;
            }
        }
    }
    .containerActive{
        .blockContainer{
            animation-name: updateActiveGlobalContainer;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            .block{
                animation-name: updateBlock;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                opacity: 0.3;
                transition: opacity;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
            }
            .blockTwo{
                animation-delay: 0.1s;
            }
            .blockThree{
                animation-delay: 0.2s;
            }
            .blockFour{
                animation-delay: 0.3s;
            }
            .active{
                opacity: 1;
                img{
                    filter: grayscale(0);
                }
            }
            .block:hover{
                height: 22%;
            }
        }
    }
    .secondShow{
        .blockContainer{
            animation-name: updateActiveGlobalContainerReverse;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            .block{
                height: var(--heightBlock);
                animation-name: updateBlockReverse;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                opacity: 1;
            }
        }
    }
}

//original
@keyframes updateActiveGlobalContainer {
    0%{
        margin-left: calc((var(--testPageContainerWidth) - (var(--blockContainerWidth)))/2);
        margin-right:  calc((var(--testPageContainerWidth) - (var(--blockContainerWidth)))/2);
        height: 50%;
    }
    50%{
        width: 50vw;
    }
    100%{
        margin-right: 5rem;
        margin-left: calc(100vw - var(--blockContainerWidth));
        height: 100%;
        --blockContainerWidth: 400px;
    }
}

@keyframes updateBlock {
    0%{
        transform: perspective(150px) rotate3d(0,1,1,0deg);
    }
    50%{
        transform: perspective(150px) rotate3d(0,1,1,4deg);
    }
    100%{
        transform: perspective(150px) rotate3d(0,1,1,0deg);
        width: 400px;
    }
}

//reverse
@keyframes updateActiveGlobalContainerReverse {
    0%{
        margin-right: 5rem;
        margin-left: calc(100vw - var(--blockContainerWidth));
        height: 100%;
        --blockContainerWidth: 400px;
    }
    100%{
        margin-left: calc((var(--testPageContainerWidth) - (var(--blockContainerWidth)))/2);
        margin-right:  calc((var(--testPageContainerWidth) - (var(--blockContainerWidth)))/2);
        height: 50%;
        width: var(--blockContainerWidth);
    }
}

@keyframes updateBlockReverse {
    0%{
        transform: perspective(150px) rotate3d(0,1,1,0deg);
        // height:  var(--heightBlockMax);
        width: 400px;
        opacity: 0.3;
    }
    50%{
        transform: perspective(150px) rotate3d(0,1,1,-4deg);
    }
    100%{
        transform: perspective(150px) rotate3d(0,1,1,0deg);
        // height: var(--heightBlock);
        opacity: 1;
    }
}
