@import "../../styles/settings.scss";

:root {
    --headerSize: 15rem;
  }

.homePageHeader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    z-index: 2;
    .topContainer{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .titleContainer{
            h1{
                font-size: $h1;
                font-weight: $fWH1;
            }
            h2{
                font-size: $h2;
                font-weight: $fWH2;
            }
        }
        .scrollContainer{
            h4{
                text-align: center;
                display: flex;
                flex-direction: column;
                position: relative;
            }
            h4:before{
                content: "";
                height: 90%;
                width: 2px;
                background-color: $darkPrimary;
                position: absolute;
                left: -20px;
            }
            h4:after{
                content: "";
                display : inline-block;
                height : 0;
                width : 0;
                border-top : 15px solid $darkPrimary;
                border-right : 9px solid transparent;
                border-left : 9px solid transparent;
                position: absolute;
                left: -27px;
                bottom: 0;
                // margin-bottom: 1rem;
            }
        }
    }
    .bottomContainer{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        .reseauxContainer{
            z-index: 17;
            display: flex;
            flex-direction: column;
            height: 70%;
            justify-content: space-between;
            button{
                font-weight: 100;
                cursor: pointer;
                height: 38px;
                font-size: $h2;
                font-weight: 100;
                border: none;
                background-color: transparent;
                text-align: left;
                display: flex;
                align-items: center;
                transition: color;
                transition-duration: 0.5s;
                transition-timing-function: ease-out;
            }
            button:hover{
                color: $secondaryYellow;
            }
        }
        .contactContainer{
            display: flex;
            flex-direction: column;
            height: 95%;
            justify-content: end;
            z-index: 17;
            button{
                cursor: pointer;
                height: 38px;
                font-size: calc($btn + 50%);
                border: none;
                font-weight: 100;
                background-color: $clearPrimary;
                text-align: left;
                display: flex;
                align-items: center;
                transition-duration: 0.2s;
                color: $secondaryYellow;
            }
            button:hover{
                color: $secondaryYellow;
            }
        }
    }
}
.homePageMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    .sectionOne, .sectionTwo{
        z-index: 10;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}